spring:
  application:
    name: workspace-service
  servlet:
    multipart:
      max-file-size: 10MB      # 파일 하나 최대 크기
      max-request-size: 20MB  # 요청 전체 크기 (여러 파트 합)

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

server:
  port: 8083

# Mindmap Service Configuration
mindmap:
  service:
    url: http://mindmap-svc:8082
#    url: http://localhost:8082

management:
  endpoints:
    web:
      exposure:
        include: health,info   # 필요하면 '*' (운영에선 health 정도 권장)
  endpoint:
    health:
      probes:
        enabled: true          # /actuator/health/liveness, /readiness 자동 생성
      show-details: never      # 운영 기본값. 필요시 when_authorized

feign:
  user-service:
    url: http://user-svc:8081

cloud:
  aws:
    s3:
      region: ap-northeast-2
      thumbnail-bucket: o-o-bucket
      thumbnail-prefix: thumbnails/workspace